@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-yellow {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-blue {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-green {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.gradient-med {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.gradient-hard {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.gradient-profile {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
.gblack {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gsec {
  background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gtop {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}
.cgpa {
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
}

/* option */
.g1 {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
  background-blend-mode: multiply, multiply;
}
.g2 {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}
.g3 {
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}
:root {
  --color-chrome: #4285f4;
  --color-safari: #ff9f00;
  --color-firefox: #ff7139;
  --color-edge: #0078d7;
  --color-other: #8c8c8c;

  --chart-1: 210, 100%, 56%;
  --chart-2: 34, 100%, 50%;
  --chart-3: 21, 100%, 56%;
  --chart-4: 202, 100%, 48%;
  --chart-5: 0, 0%, 50%;
}
.timetable {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}
.ttt {
  background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub {
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}
.post {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
/* Applies to Chrome, Edge, and Safari */
